html,
body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
}


/*===============================
Global Classess
=============================*/
.section-heading{
    font-size: 48px;
    font-weight: 600;
    background: linear-gradient(180deg, #78CDD2 0%, #4BC8F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
}

    @media(max-width:767px){

        .section-heading{
            font-size: 35px;
            text-align: center;
        }
    }
.no-default{
    padding: 0;
    margin: 0;
    li{
        list-style-type: none;
    }
}

.common-btn{
    height: 50px;
    border-radius:8px;
    text-decoration: none;
    transition: ease all .4s;
    &:hover{
        text-decoration: none;
    }
    width: 200px;
}
.light-blue-btn{
    background: linear-gradient(180deg, #78CDD2 0%, #4BC8F1 100%);
    &:hover{
        background: #006ED7;    
    }
}

.dark-blue-btn{
    background: #006ED7;
    &:hover{
        background: linear-gradient(180deg, #78CDD2 0%, #4BC8F1 100%);
    }
}

/*===============================
End Global Classess
=============================*/

/*===============================
Header Section
=============================*/
header{
    background: url('../images/banner-img.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .main-navigaiton{
        .navbar{
            padding-left:55px;
        }
        .navbar-brand{
            img{
                width: 150px;
            }
        }
        .desktop-nav{
            margin: 0px 40px;
        }
        .navbar-nav{
            li{
                padding: 0 30px;
                a{
                    color: #363A3E !important;  
                    position: relative;       
                    font-size: 15px;            
                    &:before{                        
                        content: '';
                        position: absolute;
                        left: 0;
                        background: #363A3E;
                        height: 2px;
                        width: 0;
                        bottom: 3px;
                        right: 0;
                        margin: auto;
                        transition: ease all .4s;
                    }
                }
                &.active{
                    a{
                        &:before{
                            width: 100%;
                        }
                    }
                }
                &:hover{
                    a{
                        &:before{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .slider-section{
        background: #d0dfe9;
        padding: 50px 40px;
        position: absolute;
        width: 100%;
        bottom: 0;
        .banner-text-area{            
            .banner-text-sec{
                h4{
                    color: #363A3E;
                    font-size: 30px;
                    font-weight: 700;
                    margin-bottom: 20px;
                }
            }
            .slider-btns{
                a{
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    color: #ffffff;
                    text-transform: uppercase;
                    + a{
                        margin-left: 15px;
                    }
                }
            }
        }
    }
    .down-arrow{
        a{ 
            background: linear-gradient(180deg, #78CDD2 0%, #4BC8F1 100%);
            width: 35px;
            height: 35px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            transition: ease all .4s;
            &:hover{
                background: linear-gradient(180deg, #78CDD2 0%, #4BC8F1 100%);
                background: #006ED7;
                transition: ease all .4s;
            }
        }
        img{
            width: 17px;
        }
    }
    .slider-img{
        position: relative;
        z-index: 9999;
        right: -10px;
        
        img{
            width: 100%;
            z-index: 1 !important;
        }
    }

    .blue-small-icon{

        position: absolute;
        top: 0px;
        left: 200px;

        img{
            width: 50px !important;
        }
    }

    .header-play{
        
        position: absolute;
        top: 200px;
        left: 200px;

        img{
            width: 90% !important;
        }
    }
    .white-small-icon{

        position: absolute;
        top: 145px;
        left: 160px;

        img{
            width: 15px;
        }
    }

    .white-medium-icon{

        position: absolute;
        top: 120px;
        right: 130px;

        img{
            width: 30px;
        }
    }

    .blue-medium-icon{

        position: absolute;
        top: 450px;
        right: 150px;
        z-index: 9 !important;

        img{
            width: 100px !important;
            z-index: 9 !important;
        }
    }


    .light-blue-medium-icon{

        position: absolute;
        top: 380px;
        left: 65px;

        img{
            width: 50px !important;
        }
    }

    .mob-slider{
        display: none;
    }
}


@media(max-width:767px){

        header{
            background: url('../images/mob-banner.png');
            height: 100vh;
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;

            .mob-slider{

               .slider-img{
                    display: block;
                    text-align: center !important;
                    right: 0px !important;
                    margin-top: 100px;
            
                    img{
                        width: 100%;
                        z-index: 1 !important;
                    }
                }
                .blue-small-icon{
                    display: block;
                    position: absolute;
                    top: -15px;
                    left: 160px;
            
                    img{
                        width: 20px !important;
                    }
                }
            
                .header-play{
                    display: block;
                    position: absolute;
                    top: 90px;
                    left: 60px;
            
                    img{
                        width: 50% !important;
                    }
                }
                .white-small-icon{
                    display: block;
                    position: absolute;
                    top: 75px;
                    left: 70px;
            
                    img{
                        width: 15px;
                    }
                }
            
                .white-medium-icon{
                    display: block;
                    position: absolute;
                    top: 80px;
                    right: 0px;
            
                    img{
                        width: 25px;
                    }
                }
            
                .blue-medium-icon{
                    display: block;
                    position: absolute;
                    top: 230px;
                    right: 70px;
                    z-index: 9 !important;
            
                    img{
                        width: 45px !important;
                        z-index: 9 !important;
                    }
                }
                .light-blue-medium-icon{
                    display: block;
                    position: absolute;
                    top: 175px;
                    left: 30px;
            
                    img{
                        width: 30px !important;
                    }
                }
                .mob-slider-section{
                    background: #d0dfe9 !important;
                    padding: 50px 20px;
                    position: relative;
                    bottom:35px;

                    .banner-text-sec h4{
                        font-size: 18px;
                        margin-top: 15px;
                        font-weight: 800;
                    }

                    .common-btn {
                        height: 30px;
                        border-radius: 8px;
                        text-decoration: none;
                        transition: ease all .4s;
                        width: 140px;
                        color: white;
                        margin-top: 20px;
                        text-align: center;
                        padding-top: 3px;
                    }

                    .down-arrow{
                        margin-top: 20px;
                    }
                }

            }
            .main-navigaiton{ 
                
                .navbar{
                    padding: 15px;
                }

                .navbar-toggler{
                    border: none;
                }
            }

            .slider-section{
                display: none;
            }

            .slider-img{
                display: none;
            }
            .header-play{
                display: none;
            }
            .blue-small-icon{
                display: none;
            }
            .white-small-icon{
                display: none;
            }
            .white-medium-icon{
                display: none;
            }
            .blue-medium-icon{
                display: none;
            }
            .light-blue-medium-icon{
                display: none;
            }

            .mob-slider{
                display: block;
            }

        }
    }

        // .slider-img {
        //     position: relative;
        //     z-index: 9999;
        //     text-align: center;
        //     margin-top: 160px;
        // }

        // .blue-small-icon {
        //     position: absolute;
        //     top: -32px;
        //     left: 170px;

        //     img {
        //         width: 25px !important;
        //     }
        // }

        // .white-small-icon {
        //     position: absolute;
        //     top: 80px;
        //     left: 85px;

        //     img {
        //         width: 10px;
        //     }
        // }

        // .light-blue-medium-icon {
        //     position: absolute;
        //     top: 240px;
        //     left: 50px;

        //     img{
        //         width: 45px !important;
        //     }
        // }

        // .header-play {
        //     position: absolute;
        //     top: 100px;
        //     left: 80px;

        //     img{
        //         width: 50% !important;
        //     }
        // }

        // .white-medium-icon {
        //     position: absolute;
        //     top: 95px;
        //     right: 15px;

        //     img{
        //         width:25px !important;
        //     }
        // }

        // .blue-medium-icon {
        //     position: absolute;
        //     top: 240px;
        //     right: 90px;

        //     img{

        //         width: 50px !important;
        //     }
        // }
    

/*===============================
End Header Section
=============================*/


/*===============================
Video Play
=============================*/
.doclink-video{
    .modal-content{
        height: 550px;
    }
    .modal-body {
        padding: 0;
    }
    .close{
        position: absolute;
        right: 0;    
    }
}

/*===============================
End Video Play
=============================*/
 




/*===============================
Download App
=============================*/
.download-app{
    // height: 100vh;
    .side{
        position: relative;
        &:before{
            content: '';
            width: 100%;
            height: 100%;
        }
        &.ios-side {
            background: #ffffff;
            .donwload-apps-inner{
                justify-content: flex-end;
                padding-right: 22px;
                .app-text-icons{
                    text-align: right;
                    padding: 22px 0;
                    padding-right: 25px;
                    .slick-dots{
                        right: 0 !important;
                        text-align: end;
                    }
                }
             
            }
        }
        &.android-side {
            background:#006ED7;
            .donwload-apps-inner{
                padding-top: 150px;
                // justify-content: flex-end;
                padding-left: 22px;
                .app-text-icons{
                    text-align: left;
                    padding: 22px 0;
                    padding-left: 25px;

                    .slick-dots{
                        left: 0 !important;
                        text-align: start;
                    }
                    .app-text{
                        :is(h4, p){
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
    .donwload-apps-inner{
        // justify-content: flex-end;
        padding-top: 120px;
        padding-bottom:  120px;
        .app-text-icons{
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .app-text{
            h4{
                font-weight: 600;   
                font-size: 24px;
                margin-bottom: 20px;
            }
            p{
                font-size: 15px;
            }
        }
        .apps-icons{
            a{
                img{
                    margin-bottom: 8px;
                }
                &:first-child{        
                    img{
                        width: 170px;
                    } 
                }
                &:last-child{
                    img{
                        width: 130px;
                        margin-top: 15px;
                    } 
                }
            }
        }
    }
    //Blue Plus
    .review-plus-blue{
        position: absolute;
        bottom: 9%;
        right: 30%;
        img{
            width: 50px;
        }
    }
    .review-plus-blue-sm{
        position: absolute;
        bottom: 50%;
        left: 10%;
        img{
            width: 30px;
        }
    }
    //White Plus
    .review-plus-white  {        
        position: absolute;
        top: 50px;
        right: 86px; 
        img{
            width: 20px;
        }
    }
    .review-plus-white-sm{
        position: absolute;
        top: 50%;
        right: 32%;
      
        img{
            width: 30px;
        }
    }

    .ios-side{
        .slick-dots li.slick-active button:before {
            color: #19d6fa !important;
            font-size: 14px;
        }
        .slick-dots li button:before {
            font-family: 'slick';
            font-size: 9px;
            color: black !important;
            opacity: 1.1 !important;
        }
        .slick-dots li {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 0px;
            padding: 0;
            cursor: pointer;
            color: black !important;
            opacity: 0px !important;
        }
    }
    .android-side{

        .slick-dots li.slick-active button:before {
            color: #19d6fa !important;
            font-size: 14px;
        }

        .slick-dots li button:before {
            font-family: 'slick';
            font-size: 9px;
            color: white !important;
            opacity: 1.1 !important;
        }
        .slick-dots li {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 0px;
            padding: 0;
            cursor: pointer;
            color: white !important;
            opacity: 0px !important;
        }
    }
}
/*===============================
End Download App
=============================*/





/*===============================
Let's Connect 
=============================*/
// .gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;} 

.gmap_canvas{
    margin-bottom: 45px;
}
// .mapouter{position:relative;text-align:right;height:500px;width:600px;}
.lets-connects-wrapper{
    // padding: 50px 20px;
    // padding-top: 70px;
    .lets-text-area{
        padding-top: 50px;
        padding-left: 35px;
        h1{
            
        }
        .connect-contacts{
            ul{
                li{
                    color: #363A3E;
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 35px; 
                    padding-left: 40px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    .icon{
                        background: #006ED7;
                        width: 40px;
                        height: 40px;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 15px;
                        border-radius: 50px;
                        position: absolute;
                        left: 0;
                        img{
                            width: 12px;
                        }
                    }      
                    a{
                        color: #363A3E;
                        font-size: 20px;
                        font-weight: 600;
                        margin-left: 17px
                    }

                    @media(max-width:767px){
                        a{
                            font-size: 16px;
                        }
                    }
                    .add{
                        display: block;
                    }
                    &:nth-child(3){
                        flex-direction: column;
                        align-items: flex-start
                    }
                    > div{
                        margin-left: 15px;
                    }
                }
            }
        }
    }

    @media(max-width:767px){
        .lets-text-area{
            padding-left:0px;
        }
    }
    .lets-right-side{
        background: linear-gradient(180deg, #78CDD2 0%, #4BC8F1 100%);
        .mascot{
            position: absolute;
            bottom: 0;
        }
        .mos-message {
            background:url(../images/mosMessage.png);
            background-size:cover;
            width: 75%;
            height: 30%;
            background-repeat: no-repeat;
            position: absolute;
            left: -33%;
            top: 40%;
            // background: #006ED7;
            // padding: 33px 32px;
            // width: 300px;
            // position: absolute;
            // bottom: 36%;
            // left: -25%;
            // border-radius: 13px;
            // p{
            //     color: #ffffff;
            // }


        p{
            padding: 35px 45px;
            color: white;
            font-size: 21px;
        }
        }
        .blue-plus {
            position: absolute;
            left: 50%;
            top: 9%;
            img{
                width: 85px; 
            }
        }
    }
    .blue-plus-white{
        position: absolute;
        right: 124px;
        top: 33%;
        img{
            width: 25%;
        }
    }
}

/*===============================
End Let's Connect 
=============================*/


/*===============================
Faq's Section 
=============================*/
.contact-faq-wrapper{
    // height: 100vh;
    // background:#006ED7;
    background: url('../images/faq.png') no-repeat #006ED7;
    background-size: contain;    
    #accordion{
        padding-left: 25px;
    }
    @media(max-width:767px){
        #accordion{
            padding:0px;
        }
    }
    .card{
        background: #ffffff;
        border: 0;
        margin-bottom: 16px;
        .card-header{
            padding: 0;
            border: 0;
            h5{
                background: #ffffff;
                border: 0;
                padding: 0px 0;
                box-shadow: 0 0 10px 0 rgba(0, 0,0, .2);
                border-radius: 5px;
                button{
                    color: #000000;
                    font-weight: 500;
                    text-decoration: none;
                    width: 100%;
                    text-align: left;
                    &:focus{
                        box-shadow: none;
                    }
                }

                @media(max-width:767px){
                    button{
                        font-weight: 600;
                    }
                }
                button[aria-expanded="false"] .circle.plus{
                    display: inline-flex;
                }
                button .circle.plus{
                    background: #38d5fa;
                }
                button[aria-expanded="false"] .circle.sub{
                    display: none;
                } 
                button[aria-expanded="true"] .circle.plus{
                    display: none;
                }
                .circle{
                    width: 20px;
                    height: 20px;
                    display: inline-flex;
                    background: #bebebe;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50px;
                    color: #38d5fa;
                    color: #fff;
                    font-size: 15px;
                    // padding-left: 25px;
                    margin-right: 10px;
                }
            }

            @media(max-width:767px){
                
                h5{
                    padding: 10px 17px;
                }
            }
        }
        .toggle-btn{
            position: absolute;
            right: 0;
        }
        .doctor-pics{
            img{
                
            }
        }
    }
    

    .faq-left-wrapper{
        padding-left: 50px;
        padding-top: 80px;

        .sub-heading{
            color:#D0DFE9;
            font-size: 25px;
            font-weight:800;
        }

    }

    @media(max-width:767px){

        .faq-left-wrapper{
        padding-left: 0px;
        padding-top: 40px;

            .sub-heading{
            color: white;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            }

        }
    }

    @media(max-width:767px){
        .doctor-pics{

            img{
                display: none;
            }
        }
    }

}

/*===============================
End Faq's Section 
=============================*/



/*===============================
Reviews Seciton
=============================*/
.reviews-section{
    background: #006ED7;
    padding:50px 0;
    padding-left: 25px;
    padding-bottom: 100px;
    padding-top: 70px;
    position: relative;
    .tabs-header{
        ul{
            display: flex;
            li{
                font-size: 44px;
                color: #D0DFE9;
                transition: ease-in color, font-weight .4s;
                cursor: pointer;
                &.active{
                    background: linear-gradient(180deg, #78CDD2 0%, #4BC8F1 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-weight: 600;
                    border-bottom: 5px solid #53bee1;
                }
                &:hover{
                    background: linear-gradient(180deg, #78CDD2 0%, #4BC8F1 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-weight: 600;
                    // border-bottom: 5px solid #53bee1;
                    transition: ease-in color, font-weight .4s;
                }
                + li {
                    margin-left: 50px;
                    
                }
            }
        }
    }
    .tabs-body{
        margin-top: 50px;
        .reviews-box{
            background: #ffffff;
            padding: 35px 50px;
            border-radius: 15px;
            .reviews-text{
               
            }
            .reviews-details{
                display: flex;
                align-items: center;
                margin-top: 60px;
                .reviews-names{
                    margin-left: 15px;
                    :is(h5, p){
                        margin: 0;    
                    }
                    h5{
                        font-weight: 600;
                    }
                }
                .review-img{
                    img{
                        width: 80px;
                        border-radius: 50px;
                    }
                }
            }
        }
    }
    .review-plus {
        position: absolute;
        right: 74px;
        top: 19px;
    }
    .review-plus-sm{
        position: absolute;
        left: 20%;
        bottom: 31px;
        img{
            width: 20%;
        }
    }

    .item{
        padding: 0px 20px;
    }

    .slick-slide{
        width: 450px;
    }

    @media(max-width:767px){
        .review-plus{
            display: none;
        }

        ul{
            li{
                font-size: 30px !important;
            }
        }
    }
}
/*===============================
Reviews Seciton
=============================*/

/*===============================
Footer Seciton
=============================*/

footer{
    .footer-side{
        .footer-text {
            padding: 34px 33px;
            p{
                color: #ffffff;
                font-size: 15px;
                margin-bottom: 25px;
            }
        }
        .footer-logo{
            .f-logo{
                margin-bottom: 50px;
            }
            img{
                width: 170px;
            }
        }
    }
    .left{
        background: #006ED7;
    }
    .right{
        background: #E5E5E5;
        padding-top: 135px;
        padding-left: 50px;
        padding-bottom: 70px;
        ul{
            li{
                margin-bottom: 15px;
                position: relative;
                .icon{
                    position: absolute;
                    left: 0;
                }
                a{
                    color: #363A3E;
                    font-size: 16px;
                }
            }
        }
        .icons-bar{
            padding-right: 150px;
            ul{
                li{
                    padding-left: 30px;
                    font-size: 16px;
                }
            }
        }
    }

    .round-connect{
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 50%;
        position: fixed;
        right: 50px;
        top: 600px;

        img{

            width: 25px;
            margin:13px 13px
        }
    }

    .round-bottom-top{
        width: 50px;
        height: 50px;
        background: #048ddc;
        border-radius: 50%;
        position: fixed;
        right: 50px;
        top: 500px;

        img{

            width: 25px;
            margin:13px 13px
        }
    }
   
}
.copyrights{
    background: #363A3E;
    padding: 10px 0;
    .copy-text{
        p{
            margin-bottom: 0;
            color: #fff;
            font-size: 14px;
            padding-left: 25px;
        }
    }
    .social-media-icons{
        color: #ffffff;
        font-size: 14px;
        text-align: right;
        padding-right: 25px;
        img{
            display: inline-block;
            margin-left: 20px;
            width: 14px;
        }
    }

}
/*===============================
End Footer Seciton
=============================*/



/*===============================
Media Querry
=============================*/
@media(max-width:768px){

    .slick-dots li {
        position: relative;
        display: inline-block;
        width: 6px;
        height: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
    }
    .slick-dots li.slick-active button:before {
        color: #19d6fa !important;
        font-size: 12px;
    }

    .slick-dots li button:before{
        color: white !important;
        font-size: 8px;
        opacity: 1 !important;
    }
    .reviews-section .tabs-body .reviews-box {
        background: #ffffff;
        padding: 35px 20px;
        border-radius: 15px;
        font-size: 14px;
    }

    .reviews-section .tabs-body .reviews-box .reviews-details .reviews-names h5 {
        font-weight: 600;
        font-size: 15px;
    }

    .reviews-section .tabs-body .reviews-box .reviews-details .review-img img {
        width: 60px;
        border-radius: 50px;
    }

    .download-app .donwload-apps-inner{
        display: block;
    }
    .download-app .side.ios-side .donwload-apps-inner{
        flex-direction: column-reverse;
        align-items: center;
    }
    .download-app .donwload-apps-inner .app-text-icons{
        width: 100%;
    }
    .download-app .side.ios-side .donwload-apps-inner .app-text-icons{
        text-align: center;
    }
    .download-app .apps-icons {
        margin-top: 47px;
    }
    .download-app .side.ios-side .donwload-apps-inner .app-text-icons .slick-dots{
        text-align: center;
    }
    .download-app .donwload-apps-inner .apps-icons a:first-child img{
        width: 140px;
    }
    .download-app .donwload-apps-inner .apps-icons a:last-child img{
        width: 110px;
    }
    .download-app .side.ios-side .donwload-apps-inner{
        padding-right: 0px;
    }
    .download-app :is(.review-plus-blue-sm, .review-plus-blue img) {
        display: none;
    } 
    
}
/*===============================
End Media Querry
=============================*/






