html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif !important; }

/*===============================
Global Classess
=============================*/
.section-heading {
  font-size: 48px;
  font-weight: 600;
  background: linear-gradient(180deg, #78CDD2 0%, #4BC8F1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px; }

@media (max-width: 767px) {
  .section-heading {
    font-size: 35px;
    text-align: center; } }
.no-default {
  padding: 0;
  margin: 0; }
  .no-default li {
    list-style-type: none; }

.common-btn {
  height: 50px;
  border-radius: 8px;
  text-decoration: none;
  transition: ease all .4s;
  width: 200px; }
  .common-btn:hover {
    text-decoration: none; }

.light-blue-btn {
  background: linear-gradient(180deg, #78CDD2 0%, #4BC8F1 100%); }
  .light-blue-btn:hover {
    background: #006ED7; }

.dark-blue-btn {
  background: #006ED7; }
  .dark-blue-btn:hover {
    background: linear-gradient(180deg, #78CDD2 0%, #4BC8F1 100%); }

/*===============================
End Global Classess
=============================*/
/*===============================
Header Section
=============================*/
header {
  background: url("../images/banner-img.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  header .main-navigaiton .navbar {
    padding-left: 55px; }
  header .main-navigaiton .navbar-brand img {
    width: 150px; }
  header .main-navigaiton .desktop-nav {
    margin: 0px 40px; }
  header .main-navigaiton .navbar-nav li {
    padding: 0 30px; }
    header .main-navigaiton .navbar-nav li a {
      color: #363A3E !important;
      position: relative;
      font-size: 15px; }
      header .main-navigaiton .navbar-nav li a:before {
        content: '';
        position: absolute;
        left: 0;
        background: #363A3E;
        height: 2px;
        width: 0;
        bottom: 3px;
        right: 0;
        margin: auto;
        transition: ease all .4s; }
    header .main-navigaiton .navbar-nav li.active a:before {
      width: 100%; }
    header .main-navigaiton .navbar-nav li:hover a:before {
      width: 100%; }
  header .slider-section {
    background: #d0dfe9;
    padding: 50px 40px;
    position: absolute;
    width: 100%;
    bottom: 0; }
    header .slider-section .banner-text-area .banner-text-sec h4 {
      color: #363A3E;
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 20px; }
    header .slider-section .banner-text-area .slider-btns a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      text-transform: uppercase; }
      header .slider-section .banner-text-area .slider-btns a + a {
        margin-left: 15px; }
  header .down-arrow a {
    background: linear-gradient(180deg, #78CDD2 0%, #4BC8F1 100%);
    width: 35px;
    height: 35px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transition: ease all .4s; }
    header .down-arrow a:hover {
      background: linear-gradient(180deg, #78CDD2 0%, #4BC8F1 100%);
      background: #006ED7;
      transition: ease all .4s; }
  header .down-arrow img {
    width: 17px; }
  header .slider-img {
    position: relative;
    z-index: 9999;
    right: -10px; }
    header .slider-img img {
      width: 100%;
      z-index: 1 !important; }
  header .blue-small-icon {
    position: absolute;
    top: 0px;
    left: 200px; }
    header .blue-small-icon img {
      width: 50px !important; }
  header .header-play {
    position: absolute;
    top: 200px;
    left: 200px; }
    header .header-play img {
      width: 90% !important; }
  header .white-small-icon {
    position: absolute;
    top: 145px;
    left: 160px; }
    header .white-small-icon img {
      width: 15px; }
  header .white-medium-icon {
    position: absolute;
    top: 120px;
    right: 130px; }
    header .white-medium-icon img {
      width: 30px; }
  header .blue-medium-icon {
    position: absolute;
    top: 450px;
    right: 150px;
    z-index: 9 !important; }
    header .blue-medium-icon img {
      width: 100px !important;
      z-index: 9 !important; }
  header .light-blue-medium-icon {
    position: absolute;
    top: 380px;
    left: 65px; }
    header .light-blue-medium-icon img {
      width: 50px !important; }
  header .mob-slider {
    display: none; }

@media (max-width: 767px) {
  header {
    background: url("../images/mob-banner.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative; }
    header .mob-slider .slider-img {
      display: block;
      text-align: center !important;
      right: 0px !important;
      margin-top: 100px; }
      header .mob-slider .slider-img img {
        width: 100%;
        z-index: 1 !important; }
    header .mob-slider .blue-small-icon {
      display: block;
      position: absolute;
      top: -15px;
      left: 160px; }
      header .mob-slider .blue-small-icon img {
        width: 20px !important; }
    header .mob-slider .header-play {
      display: block;
      position: absolute;
      top: 90px;
      left: 60px; }
      header .mob-slider .header-play img {
        width: 50% !important; }
    header .mob-slider .white-small-icon {
      display: block;
      position: absolute;
      top: 75px;
      left: 70px; }
      header .mob-slider .white-small-icon img {
        width: 15px; }
    header .mob-slider .white-medium-icon {
      display: block;
      position: absolute;
      top: 80px;
      right: 0px; }
      header .mob-slider .white-medium-icon img {
        width: 25px; }
    header .mob-slider .blue-medium-icon {
      display: block;
      position: absolute;
      top: 230px;
      right: 70px;
      z-index: 9 !important; }
      header .mob-slider .blue-medium-icon img {
        width: 45px !important;
        z-index: 9 !important; }
    header .mob-slider .light-blue-medium-icon {
      display: block;
      position: absolute;
      top: 175px;
      left: 30px; }
      header .mob-slider .light-blue-medium-icon img {
        width: 30px !important; }
    header .mob-slider .mob-slider-section {
      background: #d0dfe9 !important;
      padding: 50px 20px;
      position: relative;
      bottom: 35px; }
      header .mob-slider .mob-slider-section .banner-text-sec h4 {
        font-size: 18px;
        margin-top: 15px;
        font-weight: 800; }
      header .mob-slider .mob-slider-section .common-btn {
        height: 30px;
        border-radius: 8px;
        text-decoration: none;
        transition: ease all .4s;
        width: 140px;
        color: white;
        margin-top: 20px;
        text-align: center;
        padding-top: 3px; }
      header .mob-slider .mob-slider-section .down-arrow {
        margin-top: 20px; }
    header .main-navigaiton .navbar {
      padding: 15px; }
    header .main-navigaiton .navbar-toggler {
      border: none; }
    header .slider-section {
      display: none; }
    header .slider-img {
      display: none; }
    header .header-play {
      display: none; }
    header .blue-small-icon {
      display: none; }
    header .white-small-icon {
      display: none; }
    header .white-medium-icon {
      display: none; }
    header .blue-medium-icon {
      display: none; }
    header .light-blue-medium-icon {
      display: none; }
    header .mob-slider {
      display: block; } }
/*===============================
End Header Section
=============================*/
/*===============================
Video Play
=============================*/
.doclink-video .modal-content {
  height: 550px; }
.doclink-video .modal-body {
  padding: 0; }
.doclink-video .close {
  position: absolute;
  right: 0; }

/*===============================
End Video Play
=============================*/
/*===============================
Download App
=============================*/
.download-app .side {
  position: relative; }
  .download-app .side:before {
    content: '';
    width: 100%;
    height: 100%; }
  .download-app .side.ios-side {
    background: #ffffff; }
    .download-app .side.ios-side .donwload-apps-inner {
      justify-content: flex-end;
      padding-right: 22px; }
      .download-app .side.ios-side .donwload-apps-inner .app-text-icons {
        text-align: right;
        padding: 22px 0;
        padding-right: 25px; }
        .download-app .side.ios-side .donwload-apps-inner .app-text-icons .slick-dots {
          right: 0 !important;
          text-align: end; }
  .download-app .side.android-side {
    background: #006ED7; }
    .download-app .side.android-side .donwload-apps-inner {
      padding-top: 150px;
      padding-left: 22px; }
      .download-app .side.android-side .donwload-apps-inner .app-text-icons {
        text-align: left;
        padding: 22px 0;
        padding-left: 25px; }
        .download-app .side.android-side .donwload-apps-inner .app-text-icons .slick-dots {
          left: 0 !important;
          text-align: start; }
        .download-app .side.android-side .donwload-apps-inner .app-text-icons .app-text :is(h4, p) {
          color: #ffffff; }
.download-app .donwload-apps-inner {
  padding-top: 120px;
  padding-bottom: 120px; }
  .download-app .donwload-apps-inner .app-text-icons {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .download-app .donwload-apps-inner .app-text h4 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px; }
  .download-app .donwload-apps-inner .app-text p {
    font-size: 15px; }
  .download-app .donwload-apps-inner .apps-icons a img {
    margin-bottom: 8px; }
  .download-app .donwload-apps-inner .apps-icons a:first-child img {
    width: 170px; }
  .download-app .donwload-apps-inner .apps-icons a:last-child img {
    width: 130px;
    margin-top: 15px; }
.download-app .review-plus-blue {
  position: absolute;
  bottom: 9%;
  right: 30%; }
  .download-app .review-plus-blue img {
    width: 50px; }
.download-app .review-plus-blue-sm {
  position: absolute;
  bottom: 50%;
  left: 10%; }
  .download-app .review-plus-blue-sm img {
    width: 30px; }
.download-app .review-plus-white {
  position: absolute;
  top: 50px;
  right: 86px; }
  .download-app .review-plus-white img {
    width: 20px; }
.download-app .review-plus-white-sm {
  position: absolute;
  top: 50%;
  right: 32%; }
  .download-app .review-plus-white-sm img {
    width: 30px; }
.download-app .ios-side .slick-dots li.slick-active button:before {
  color: #19d6fa !important;
  font-size: 14px; }
.download-app .ios-side .slick-dots li button:before {
  font-family: 'slick';
  font-size: 9px;
  color: black !important;
  opacity: 1.1 !important; }
.download-app .ios-side .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 0px;
  padding: 0;
  cursor: pointer;
  color: black !important;
  opacity: 0px !important; }
.download-app .android-side .slick-dots li.slick-active button:before {
  color: #19d6fa !important;
  font-size: 14px; }
.download-app .android-side .slick-dots li button:before {
  font-family: 'slick';
  font-size: 9px;
  color: white !important;
  opacity: 1.1 !important; }
.download-app .android-side .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 0px;
  padding: 0;
  cursor: pointer;
  color: white !important;
  opacity: 0px !important; }

/*===============================
End Download App
=============================*/
/*===============================
Let's Connect 
=============================*/
.gmap_canvas {
  margin-bottom: 45px; }

.lets-connects-wrapper .lets-text-area {
  padding-top: 50px;
  padding-left: 35px; }
  .lets-connects-wrapper .lets-text-area .connect-contacts ul li {
    color: #363A3E;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 35px;
    padding-left: 40px;
    position: relative;
    display: flex;
    align-items: center; }
    .lets-connects-wrapper .lets-text-area .connect-contacts ul li .icon {
      background: #006ED7;
      width: 40px;
      height: 40px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
      border-radius: 50px;
      position: absolute;
      left: 0; }
      .lets-connects-wrapper .lets-text-area .connect-contacts ul li .icon img {
        width: 12px; }
    .lets-connects-wrapper .lets-text-area .connect-contacts ul li a {
      color: #363A3E;
      font-size: 20px;
      font-weight: 600;
      margin-left: 17px; }
    @media (max-width: 767px) {
      .lets-connects-wrapper .lets-text-area .connect-contacts ul li a {
        font-size: 16px; } }
    .lets-connects-wrapper .lets-text-area .connect-contacts ul li .add {
      display: block; }
    .lets-connects-wrapper .lets-text-area .connect-contacts ul li:nth-child(3) {
      flex-direction: column;
      align-items: flex-start; }
    .lets-connects-wrapper .lets-text-area .connect-contacts ul li > div {
      margin-left: 15px; }
@media (max-width: 767px) {
  .lets-connects-wrapper .lets-text-area {
    padding-left: 0px; } }
.lets-connects-wrapper .lets-right-side {
  background: linear-gradient(180deg, #78CDD2 0%, #4BC8F1 100%); }
  .lets-connects-wrapper .lets-right-side .mascot {
    position: absolute;
    bottom: 0; }
  .lets-connects-wrapper .lets-right-side .mos-message {
    background: url(../images/mosMessage.png);
    background-size: cover;
    width: 75%;
    height: 30%;
    background-repeat: no-repeat;
    position: absolute;
    left: -33%;
    top: 40%; }
    .lets-connects-wrapper .lets-right-side .mos-message p {
      padding: 35px 45px;
      color: white;
      font-size: 21px; }
  .lets-connects-wrapper .lets-right-side .blue-plus {
    position: absolute;
    left: 50%;
    top: 9%; }
    .lets-connects-wrapper .lets-right-side .blue-plus img {
      width: 85px; }
.lets-connects-wrapper .blue-plus-white {
  position: absolute;
  right: 124px;
  top: 33%; }
  .lets-connects-wrapper .blue-plus-white img {
    width: 25%; }

/*===============================
End Let's Connect 
=============================*/
/*===============================
Faq's Section 
=============================*/
.contact-faq-wrapper {
  background: url("../images/faq.png") no-repeat #006ED7;
  background-size: contain; }
  .contact-faq-wrapper #accordion {
    padding-left: 25px; }
  @media (max-width: 767px) {
    .contact-faq-wrapper #accordion {
      padding: 0px; } }
  .contact-faq-wrapper .card {
    background: #ffffff;
    border: 0;
    margin-bottom: 16px; }
    .contact-faq-wrapper .card .card-header {
      padding: 0;
      border: 0; }
      .contact-faq-wrapper .card .card-header h5 {
        background: #ffffff;
        border: 0;
        padding: 0px 0;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        border-radius: 5px; }
        .contact-faq-wrapper .card .card-header h5 button {
          color: #000000;
          font-weight: 500;
          text-decoration: none;
          width: 100%;
          text-align: left; }
          .contact-faq-wrapper .card .card-header h5 button:focus {
            box-shadow: none; }
        @media (max-width: 767px) {
          .contact-faq-wrapper .card .card-header h5 button {
            font-weight: 600; } }
        .contact-faq-wrapper .card .card-header h5 button[aria-expanded="false"] .circle.plus {
          display: inline-flex; }
        .contact-faq-wrapper .card .card-header h5 button .circle.plus {
          background: #38d5fa; }
        .contact-faq-wrapper .card .card-header h5 button[aria-expanded="false"] .circle.sub {
          display: none; }
        .contact-faq-wrapper .card .card-header h5 button[aria-expanded="true"] .circle.plus {
          display: none; }
        .contact-faq-wrapper .card .card-header h5 .circle {
          width: 20px;
          height: 20px;
          display: inline-flex;
          background: #bebebe;
          justify-content: center;
          align-items: center;
          border-radius: 50px;
          color: #38d5fa;
          color: #fff;
          font-size: 15px;
          margin-right: 10px; }
      @media (max-width: 767px) {
        .contact-faq-wrapper .card .card-header h5 {
          padding: 10px 17px; } }
    .contact-faq-wrapper .card .toggle-btn {
      position: absolute;
      right: 0; }
  .contact-faq-wrapper .faq-left-wrapper {
    padding-left: 50px;
    padding-top: 80px; }
    .contact-faq-wrapper .faq-left-wrapper .sub-heading {
      color: #D0DFE9;
      font-size: 25px;
      font-weight: 800; }
  @media (max-width: 767px) {
    .contact-faq-wrapper .faq-left-wrapper {
      padding-left: 0px;
      padding-top: 40px; }
      .contact-faq-wrapper .faq-left-wrapper .sub-heading {
        color: white;
        font-size: 16px;
        font-weight: 400;
        text-align: center; } }
  @media (max-width: 767px) {
    .contact-faq-wrapper .doctor-pics img {
      display: none; } }

/*===============================
End Faq's Section 
=============================*/
/*===============================
Reviews Seciton
=============================*/
.reviews-section {
  background: #006ED7;
  padding: 50px 0;
  padding-left: 25px;
  padding-bottom: 100px;
  padding-top: 70px;
  position: relative; }
  .reviews-section .tabs-header ul {
    display: flex; }
    .reviews-section .tabs-header ul li {
      font-size: 44px;
      color: #D0DFE9;
      transition: ease-in color, font-weight .4s;
      cursor: pointer; }
      .reviews-section .tabs-header ul li.active {
        background: linear-gradient(180deg, #78CDD2 0%, #4BC8F1 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 600;
        border-bottom: 5px solid #53bee1; }
      .reviews-section .tabs-header ul li:hover {
        background: linear-gradient(180deg, #78CDD2 0%, #4BC8F1 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 600;
        transition: ease-in color, font-weight .4s; }
      .reviews-section .tabs-header ul li + li {
        margin-left: 50px; }
  .reviews-section .tabs-body {
    margin-top: 50px; }
    .reviews-section .tabs-body .reviews-box {
      background: #ffffff;
      padding: 35px 50px;
      border-radius: 15px; }
      .reviews-section .tabs-body .reviews-box .reviews-details {
        display: flex;
        align-items: center;
        margin-top: 60px; }
        .reviews-section .tabs-body .reviews-box .reviews-details .reviews-names {
          margin-left: 15px; }
          .reviews-section .tabs-body .reviews-box .reviews-details .reviews-names :is(h5, p) {
            margin: 0; }
          .reviews-section .tabs-body .reviews-box .reviews-details .reviews-names h5 {
            font-weight: 600; }
        .reviews-section .tabs-body .reviews-box .reviews-details .review-img img {
          width: 80px;
          border-radius: 50px; }
  .reviews-section .review-plus {
    position: absolute;
    right: 74px;
    top: 19px; }
  .reviews-section .review-plus-sm {
    position: absolute;
    left: 20%;
    bottom: 31px; }
    .reviews-section .review-plus-sm img {
      width: 20%; }
  .reviews-section .item {
    padding: 0px 20px; }
  .reviews-section .slick-slide {
    width: 450px; }
  @media (max-width: 767px) {
    .reviews-section .review-plus {
      display: none; }
    .reviews-section ul li {
      font-size: 30px !important; } }

/*===============================
Reviews Seciton
=============================*/
/*===============================
Footer Seciton
=============================*/
footer .footer-side .footer-text {
  padding: 34px 33px; }
  footer .footer-side .footer-text p {
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 25px; }
footer .footer-side .footer-logo .f-logo {
  margin-bottom: 50px; }
footer .footer-side .footer-logo img {
  width: 170px; }
footer .left {
  background: #006ED7; }
footer .right {
  background: #E5E5E5;
  padding-top: 135px;
  padding-left: 50px;
  padding-bottom: 70px; }
  footer .right ul li {
    margin-bottom: 15px;
    position: relative; }
    footer .right ul li .icon {
      position: absolute;
      left: 0; }
    footer .right ul li a {
      color: #363A3E;
      font-size: 16px; }
  footer .right .icons-bar {
    padding-right: 150px; }
    footer .right .icons-bar ul li {
      padding-left: 30px;
      font-size: 16px; }
footer .round-connect {
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  position: fixed;
  right: 50px;
  top: 600px; }
  footer .round-connect img {
    width: 25px;
    margin: 13px 13px; }
footer .round-bottom-top {
  width: 50px;
  height: 50px;
  background: #048ddc;
  border-radius: 50%;
  position: fixed;
  right: 50px;
  top: 500px; }
  footer .round-bottom-top img {
    width: 25px;
    margin: 13px 13px; }

.copyrights {
  background: #363A3E;
  padding: 10px 0; }
  .copyrights .copy-text p {
    margin-bottom: 0;
    color: #fff;
    font-size: 14px;
    padding-left: 25px; }
  .copyrights .social-media-icons {
    color: #ffffff;
    font-size: 14px;
    text-align: right;
    padding-right: 25px; }
    .copyrights .social-media-icons img {
      display: inline-block;
      margin-left: 20px;
      width: 14px; }

/*===============================
End Footer Seciton
=============================*/
/*===============================
Media Querry
=============================*/
@media (max-width: 768px) {
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 6px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }

  .slick-dots li.slick-active button:before {
    color: #19d6fa !important;
    font-size: 12px; }

  .slick-dots li button:before {
    color: white !important;
    font-size: 8px;
    opacity: 1 !important; }

  .reviews-section .tabs-body .reviews-box {
    background: #ffffff;
    padding: 35px 20px;
    border-radius: 15px;
    font-size: 14px; }

  .reviews-section .tabs-body .reviews-box .reviews-details .reviews-names h5 {
    font-weight: 600;
    font-size: 15px; }

  .reviews-section .tabs-body .reviews-box .reviews-details .review-img img {
    width: 60px;
    border-radius: 50px; }

  .download-app .donwload-apps-inner {
    display: block; }

  .download-app .side.ios-side .donwload-apps-inner {
    flex-direction: column-reverse;
    align-items: center; }

  .download-app .donwload-apps-inner .app-text-icons {
    width: 100%; }

  .download-app .side.ios-side .donwload-apps-inner .app-text-icons {
    text-align: center; }

  .download-app .apps-icons {
    margin-top: 47px; }

  .download-app .side.ios-side .donwload-apps-inner .app-text-icons .slick-dots {
    text-align: center; }

  .download-app .donwload-apps-inner .apps-icons a:first-child img {
    width: 140px; }

  .download-app .donwload-apps-inner .apps-icons a:last-child img {
    width: 110px; }

  .download-app .side.ios-side .donwload-apps-inner {
    padding-right: 0px; }

  .download-app :is(.review-plus-blue-sm, .review-plus-blue img) {
    display: none; } }
/*===============================
End Media Querry
=============================*/

/*# sourceMappingURL=style.css.map */
